<h1>感謝の気持ちを伝えよう</h1>
  <%# ユーザー選択するフォーム %>
  <%=form_with model: @card,url: room_cards_path  ,local: true do |f|%>
    <%= f.text_field :content,placeholder:"ありがとう＾＾"%>
    <%= f.submit value="THANKS" %>
  <% end %>

