<% if model.errors.any? %>
<div class="error-alert">
 <ul class="list-unstyled ">
   <% model.errors.full_messages.each do |message| %>
   <li class='error-message text-danger'><%= message %></li>
   <% end %>
 </ul>
</div>
<% end %>